<template>
  <v-app>
    <navbar></navbar>
    <div class="position-relative">
      <v-progress-linear
        v-if="loading"
        height="5"
        :indeterminate="true"
        class="m-0 position-absolute"
      ></v-progress-linear>
    </div>
    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer></v-footer>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import { ACCOUNT, CATEGORY } from "@/store/actions";
import Navbar from "@/components/core/Navbar";

export default {
  name: "app",
  components: {
    Navbar
  },
  computed: {
    ...mapState(["loading"])
  },
  mounted() {
    this.$store.dispatch(CATEGORY.FETCH_ALL);
    this.$store.dispatch(ACCOUNT.CHECK_LOGIN);
  }
};
</script>

<style>
a:hover {
  text-decoration: none;
}
/* .fr-wrapper > div:first-child {
  display: none;
  position: relative;
}
.fr-placeholder {
  margin-top: 0 !important;
} */
</style>
