<template>
  <div>
    <div v-for="comment in comments" :key="comment.id">
      <comment-item :comment="comment"></comment-item>
    </div>
  </div>
</template>

<script>
import CommentItem from "./CommentItem";

export default {
  name: "CommentList",
  components: { CommentItem },
  props: {
    comments: Array
  }
};
</script>
