<template>
  <div>
    <div class="media">
      <div class="media-body">
        <div class="text-muted font-weight-bold">
          {{comment.user.email}}
          <small class="text-muted">{{date}}</small>
        </div>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "CommentItem",
  props: {
    comment: Object
  },
  computed: {
    date() {
      return moment(this.comment.dateCreated).format("MM/DD/YYYY");
    }
  }
};
</script>
