<template>
  <div>
    <form @submit.prevent="handleCreate">
      <div class="form-group">
        <h3>Comment</h3>
        <textarea
          v-model="content"
          rows="3"
          class="form-control form-control-sm"
          placeholder="Type something"
        ></textarea>
      </div>
      <div class="form-group">
        <v-btn
          :disabled="loading"
          :loading="loading"
          color="primary"
          v-if="loggedIn"
          type="submit"
        >Submit</v-btn>
        <v-btn v-else color="primary" :to="{ name: 'login' }">Submit</v-btn>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { COMMENT } from "@/store/actions";

export default {
  name: "CreateComment",
  data() {
    return {
      loading: false,
      content: ""
    };
  },
  computed: {
    ...mapState(["user", "article", "loggedIn"])
  },
  methods: {
    handleCreate() {
      const { content, article, user } = this;
      if (content === "") return;

      this.loading = true;

      this.$store
        .dispatch(COMMENT.CREATE, {
          content,
          articleId: article.id,
          userId: user.id
        })
        .then(() => {
          this.loading = false;
          this.content = "";
        });
    }
  }
};
</script>
