<template>
  <div>
    <div class="text-xs-center">
      <v-pagination v-model="currentPage" :length="pageTotal" @input="pageChange"></v-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    pageTotal: Number
  },
  data() {
    return {
      currentPage: 1
    };
  },
  methods: {
    pageChange(page) {
      this.$emit("page-change", page - 1);
    }
  }
};
</script>
