<template>
  <div>
    <div>
      <div class="row">
        <div class="col-md-8">
          <article-detail :article="article"></article-detail>
        </div>
        <div class="col-md-4">
          <comment-list :comments="paginatedData"></comment-list>
          <pagination :page-total="pageTotal" @page-change="pageChange"></pagination>
          <create-comment></create-comment>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ARTICLE } from "@/store/actions";
import ArticleDetail from "@/components/articles/ArticleDetail";
import CreateComment from "@/components/comments/CreateComment";
import CommentList from "@/components/comments/CommentList";
import Pagination from "@/components/shared/Pagination";

export default {
  components: {
    ArticleDetail,
    CreateComment,
    CommentList,
    Pagination
  },
  props: {
    id: [Number, String]
  },
  data() {
    return {
      pageIndex: 0,
      pageTotal: 0,
      pageSize: 3
    };
  },
  computed: {
    ...mapState(["article"]),
    paginatedData() {
      let { pageIndex, pageSize, article } = this;
      if (article.comments) {
        const start = pageIndex * pageSize;
        const end = start + pageSize;
        return article.comments.slice(start, end);
      }
      return [];
    }
  },
  watch: {
    paginatedData() {
      this.countTotalPage();
    }
  },
  mounted() {
    this.$store.dispatch(ARTICLE.FETCH, this.id).then(() => {
      this.countTotalPage();
    });
  },
  methods: {
    pageChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    countTotalPage() {
      let { pageSize, article } = this;
      this.pageTotal = Math.ceil(article.comments.length / pageSize);
    }
  }
};
</script>
