<template>
  <div v-if="category">
    <h2 class="text-center">{{category.name}}</h2>
    <article-list :articles="paginatedData"></article-list>
    <pagination :page-total="pageTotal" @page-change="pageChange"></pagination>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { CATEGORY } from "@/store/actions";
import ArticleList from "@/components/articles/ArticleList";
import Pagination from "@/components/shared/Pagination";

export default {
  name: "category",
  components: { ArticleList, Pagination },
  props: {
    id: [Number, String]
  },
  data() {
    return {
      pageIndex: 0,
      pageTotal: 0,
      pageSize: 3
    };
  },
  computed: {
    ...mapState(["category"]),
    paginatedData() {
      let { pageIndex, pageSize, category } = this;
      if (category.articles) {
        const start = pageIndex * pageSize;
        const end = start + pageSize;
        return category.articles.slice(start, end);
      }
      return [];
    }
  },
  watch: {
    id: function() {
      this.get();
    }
  },
  mounted() {
    this.get();
  },
  methods: {
    get() {
      this.$store.dispatch(CATEGORY.FETCH, this.id).then(() => {
        let { pageSize, category } = this;

        this.pageTotal = Math.ceil(category.articles.length / pageSize);
      });
    },
    pageChange(pageIndex) {
      this.pageIndex = pageIndex;
    }
  }
};
</script>
