<template>
  <div>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <v-card class="elevation-12">
          <v-form @submit.prevent="handleSubmit" v-model="valid" ref="form" lazy-validation>
            <v-toolbar dark color="primary">
              <v-toolbar-title>New Article</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-text-field v-model="title" :rules="requiredRules" label="Title" autofocus required></v-text-field>
              <v-select
                v-model="categoryId"
                :items="categories"
                item-text="name"
                item-value="id"
                label="Category"
                :rules="requiredRules"
                required
              ></v-select>
              <img :src="imageUrl" class="my-2" height="150" v-if="imageUrl">
              <v-text-field
                label="Select Image"
                @click="pickFile()"
                v-model="imageName"
                :rules="requiredRules"
                readonly
              ></v-text-field>
              <input
                type="file"
                style="display: none"
                ref="file"
                accept="image/*"
                @change="onFilePicked"
              >
              <froala v-model="content"></froala>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="!valid || loading"
                :loading="loading"
                type="submit"
                color="primary"
              >Create</v-btn>
            </v-card-actions>
            <v-alert :value="error" type="error">{{error}}</v-alert>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ARTICLE } from "@/store/actions";

export default {
  name: "create-article",
  components: {},
  data() {
    return {
      loading: false,
      valid: false,
      error: "",
      requiredRules: [v => !!v || "Required."],
      title: "",
      content: "",
      categoryId: "",
      imageName: "",
      imageUrl: "",
      imageFile: "" // this is an image file that can be sent to server
    };
  },
  computed: {
    ...mapState(["user", "categories"])
  },
  methods: {
    handleSubmit() {
      if (!this.$refs.form.validate()) return;

      this.loading = true;

      let { title, content, categoryId, imageFile, user } = this;

      this.$store
        .dispatch(ARTICLE.CREATE, {
          title,
          content,
          file: imageFile,
          categoryId,
          userId: user.id
        })
        .then(() => (this.loading = false));
    },
    pickFile() {
      this.$refs.file.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    }
  }
};
</script>
