<template>
  <div>
    <article-list :articles="paginatedData"></article-list>
    <pagination :page-total="pageTotal" @page-change="pageChange"></pagination>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { ARTICLE } from "@/store/actions";
import ArticleList from "@/components/articles/ArticleList";
import Pagination from "@/components/shared/Pagination";

export default {
  name: "home",
  components: { ArticleList, Pagination },
  data() {
    return {
      pageIndex: 0,
      pageTotal: 0,
      pageSize: 3
    };
  },
  watch: {
    filteredArticles() {
      this.pageIndex = 0;
    }
  },
  computed: {
    ...mapGetters(["filteredArticles"]),
    paginatedData() {
      const { pageIndex, pageSize } = this;
      const start = pageIndex * pageSize;
      const end = start + pageSize;
      this.countPageTotal();
      return this.filteredArticles.slice(start, end);
    }
  },
  mounted() {
    this.$store.dispatch(ARTICLE.FETCH_ALL);
  },
  methods: {
    pageChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    countPageTotal() {
      let { pageSize, filteredArticles } = this;
      this.pageTotal = Math.ceil(filteredArticles.length / pageSize);
    }
  }
};
</script>
