<template>
  <div>
    <h2>Your articles</h2>
    <article-list :articles="paginatedData" :showEdit="true"></article-list>
    <pagination :page-total="pageTotal" @page-change="pageChange"></pagination>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ACCOUNT } from "@/store/actions";
import ArticleList from "@/components/articles/ArticleList";
import Pagination from "@/components/shared/Pagination";

export default {
  name: "profile",
  components: { ArticleList, Pagination },
  data() {
    return {
      pageIndex: 0,
      pageTotal: 0,
      pageSize: 3
    };
  },
  computed: {
    ...mapState(["articles"]),
    paginatedData() {
      const { pageIndex, pageSize } = this;
      const start = pageIndex * pageSize;
      const end = start + pageSize;
      return this.articles.slice(start, end);
    }
  },
  watch: {
    paginatedData() {
      this.countTotalPage();
    }
  },
  mounted() {
    this.$store.dispatch(ACCOUNT.FETCH_ARTICLES).then(() => {
      this.countTotalPage();
    });
  },
  methods: {
    pageChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    countTotalPage() {
      let { pageSize, articles } = this;
      this.pageTotal = Math.ceil(articles.length / pageSize);
    }
  }
};
</script>
