<template>
  <div>
    <router-link
      :to="{ name: 'article', params: { id: article.id } }"
      style="text-decoration: none;"
    >
      <v-card class="elevation-5">
        <v-img :src="`${BASE_URL}/${article.picture}`" :aspect-ratio="16/9" class="grey">
          <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
            <v-progress-circular indeterminate color="grey lighten-4"></v-progress-circular>
          </v-layout>
        </v-img>
        <v-card-title primary-title>
          <div>
            <h2 style="word-break: break-all">{{article.title}}</h2>
            <span
              class="grey--text font-weight-bold mr-2"
              style="word-break: break-all"
            >{{article.user.email}}</span>
            <span class="grey--text" style="word-break: break-all">{{date}}</span>
          </div>
        </v-card-title>
        <v-layout justify-center>
          <v-card-actions v-if="showEdit">
            <v-btn color="primary" @click.prevent="onEdit = true">Edit</v-btn>
            <v-btn color="error" @click.prevent="onDelete = true">Delete</v-btn>
          </v-card-actions>
        </v-layout>
      </v-card>
    </router-link>

    <edit-article :on-edit="onEdit" :article="article" @close="onEdit = false"></edit-article>
    <delete-article :on-delete="onDelete" :article="article" @close="onDelete = false"></delete-article>
  </div>
</template>

<script>
import EditArticle from "./EditArticle";
import DeleteArticle from "./DeleteArticle";
import moment from "moment";

export default {
  name: "ArticleItem",
  components: { EditArticle, DeleteArticle },
  props: {
    article: Object,
    showEdit: Boolean
  },
  data() {
    return {
      onEdit: false,
      onDelete: false
    };
  },
  computed: {
    date() {
      return moment(this.article.dateCreated).format("MM/DD/YYYY");
    }
  }
};
</script>
