<template>
  <div>
    <v-card class="elevation-5">
      <v-card flat tile class="d-flex">
        <v-img :src="image" :aspect-ratio="16/9" class="grey">
          <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
            <v-progress-circular indeterminate color="grey lighten-4"></v-progress-circular>
          </v-layout>
        </v-img>
      </v-card>
      <v-card-title primary-title>
        <div>
          <h2 style="word-break: break-all">{{article.title}}</h2>
          <span
            v-if="article.user"
            class="grey--text font-weight-bold mr-2"
            style="word-break: break-all"
          >{{article.user.email}}</span>
          <span class="grey--text" style="word-break: break-all">{{date}}</span>
          <froalaView v-model="article.content"></froalaView>
        </div>
      </v-card-title>
      <v-layout justify-center>
        <v-card-actions></v-card-actions>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "ArticleDetail",
  props: {
    article: Object
  },
  data() {
    return {
      image: undefined
    };
  },
  beforeUpdate() {
    this.image = `${this.BASE_URL}/${this.article.picture}`;
  },
  computed: {
    date() {
      return moment(this.article.dateCreated).format("MM/DD/YYYY");
    }
  }
};
</script>
