<template>
  <div>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex v-for="item in articles" :key="item.id" md4>
          <article-item :article="item" :showEdit="showEdit"></article-item>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ArticleItem from "./ArticleItem";

export default {
  name: "ArticleList",
  components: { ArticleItem },
  props: {
    articles: Array,
    showEdit: Boolean
  }
};
</script>
