<template>
  <div>
    <v-dialog :value="onDelete" persistent max-width="500px">
      <v-card>
        <v-form>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Delete Article</v-toolbar-title>
          </v-toolbar>
          <v-card-text>Are you sure you want to delete?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :disabled="loading" :loading="loading" color="error" @click="handleSubmit">Delete</v-btn>
            <v-btn :disabled="loading" @click="close">Close</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { ARTICLE } from "@/store/actions";

export default {
  name: "DeleteArticle",
  props: {
    article: Object,
    onDelete: Boolean
  },
  data() {
    return {
      loading: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    handleSubmit() {
      this.loading = true;

      this.$store.dispatch(ARTICLE.DELETE, this.article.id).then(() => {
        this.close();
        this.loading = true;
      });
    }
  }
};
</script>
