<template>
  <div>
    <v-dialog :value="onEdit" persistent max-width="1000px">
      <v-card>
        <v-form @submit.prevent v-model="valid" ref="form" lazy-validation>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Edit Article</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-text-field
              v-model="model.title"
              :rules="requiredRules"
              label="Title"
              autofocus
              required
            ></v-text-field>
            <v-select
              v-model="model.categoryId"
              :items="categories"
              item-text="name"
              item-value="id"
              label="Category"
              :rules="requiredRules"
              required
            ></v-select>
            <img :src="imageUrl" class="my-2" height="150" v-if="imageUrl">
            <v-text-field label="Select Image" @click="pickFile()" v-model="imageName" readonly></v-text-field>
            <input
              type="file"
              style="display: none"
              ref="file"
              accept="image/*"
              @change="onFilePicked"
            >
            <froala v-model="model.content"></froala>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :disabled="!valid || loading"
              :loading="loading"
              color="primary"
              @click="handleSubmit"
            >Save</v-btn>
            <v-btn :disabled="loading" @click="close">Close</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ARTICLE } from "@/store/actions";

export default {
  name: "EditArticle",
  props: {
    article: Object,
    onEdit: Boolean
  },
  data() {
    return {
      loading: false,
      valid: false,
      model: {},
      imageName: "",
      imageUrl: "",
      imageFile: "", // this is an image file that can be sent to server
      requiredRules: [v => !!v || "Required."]
    };
  },
  computed: {
    ...mapState(["user", "categories"])
  },
  created() {
    this.model = { ...this.article };
    this.imageName = "";
    this.imageUrl = "";
    this.imageFile = "";
  },
  methods: {
    close() {
      this.$emit("close");
    },
    handleSubmit() {
      if (!this.$refs.form.validate()) return;

      this.loading = true;

      const { model, imageFile, user } = this;

      this.$store
        .dispatch(ARTICLE.EDIT, {
          ...model,
          file: imageFile,
          userId: user.id
        })
        .then(() => {
          this.close();
          this.loading = true;
        });
    },
    pickFile() {
      this.$refs.file.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    }
  }
};
</script>
