<template>
  <div>
    <v-toolbar dark dense>
      <v-toolbar-title>
        <router-link :to="{ name: 'home' }" class="brand">Home</router-link>
      </v-toolbar-title>
      <v-menu offset-y>
        <v-btn flat slot="activator">Category
          <v-icon>arrow_drop_down</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile
            class="category-item"
            v-for="item in categories"
            :to="{ name: 'category', params: { id: item.id } }"
            :key="item.id"
          >
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-spacer></v-spacer>
      <v-btn flat :to="{ name: 'create' }" exact>
        <v-icon dark>add</v-icon>New Article
      </v-btn>
      <v-toolbar-items>
        <div class="form-inline mr-2">
          <input class="form-control form-control-sm" placeholder="Search" v-model="keyword">
        </div>
        <template v-if="loggedIn">
          <v-btn flat :to="{ name: 'profile' }" exact>Profile</v-btn>
          <v-btn flat @click="handleLogout">Logout</v-btn>
        </template>
        <template v-else>
          <v-btn flat :to="{ name: 'register' }" exact>Register</v-btn>
          <v-btn flat :to="{ name: 'login' }" exact>Login</v-btn>
        </template>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ACCOUNT, ARTICLE } from "@/store/actions";

export default {
  name: "Navbar",
  data() {
    return {
      keyword: ""
    };
  },
  watch: {
    keyword(newValue) {
      if (this.$router.currentRoute.name !== "home") {
        this.$router.push({ name: "home" });
      }
      this.$store.dispatch(ARTICLE.SEARCH, newValue);
    }
  },
  computed: {
    ...mapState(["loggedIn", "user", "categories"])
  },
  methods: {
    handleLogout() {
      this.$store.dispatch(ACCOUNT.LOGOUT);
    }
  }
};
</script>

<style scoped>
.brand {
  color: white;
  text-decoration: none;
}
</style>
